*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.height-80{
    height: 80px;
}

.height-50{
    height: 50%;
   
}

.container-fluid .row{
    text-align: center;
}


.padding-20{
    padding: 20px;
}


.green{
    background-color: rgb(18, 199, 18);

}

.margin-bottom-4{
    margin-top: 40px;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: end;
}

.justify-around{
    justify-content: space-around;
}

.justify-bet{
    justify-content: space-between;
}

.align-center{
    align-self: center;
}
.align-bottom{
    align-self: end;
}
